@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif; 
    line-height: normal;
}

.section {
    padding: 90px 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; 
*/

/* Header */

.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.title {
    font-size: 42px;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

/* Posts */

.section-posts {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
}

.post {
    width: 270px;
}

.post-body {
    padding: 20px 10px;
    border: 1px solid #C1D1D4;
    border-top: none;
    text-align: center;
}

.post-title {
    font-size: 22px;
    margin-bottom: 15px;
}

.post-desc {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
}

a.post-link {
    color: #0277B9;
    font-size: 20px;
    text-decoration: underline;
}

/* Btn */

.section-button {
    text-align: center;
}

.btn {
    display: inline-block;
    font-size: 22px;
    text-transform: uppercase;

    padding: 12px 40px 16px;
    border-radius: 4px;
    border: 1px solid #000;
    color: #000;

    transition: background-color 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in;
}

.btn:focus, .btn:hover {
    background-color: #000;
    color: #FFF;
}

.btn:active {
    border: 1px solid #444;
    background-color: #444;
    position: relative;
    top: 1px;
}


/* Tablet */
@media (max-width: 1199px) {
    .container {
        width: 900px;
    }

    .subtitle {
        font-family: "Noto Sans", sans-serif;
        color: #999;
    }
}

/* Mobile */
@media (max-width: 899px) {
    .container {
        width: 600px;
    }

    .section {
        padding-top: 60px;
        padding-bottom: 67px;
    }

    .title {
        font-size: 32px;
    }

    .subtitle {
        font-size: 12px;
    }

    .section-header {
        margin-bottom: 40px;
    }

    .section-posts {
        row-gap: 40px;
        margin-bottom: 40px;
    }

    .btn {
        padding: 12px 25px 14px;
        font-size: 18px;
    }
}

/* Mobile XS */
@media (max-width: 599px) {
    .container {
        width: 300px;
    }

    .section {
        padding-bottom: 40px;
    }

    .section-posts {
        row-gap: 20px;
        justify-content: center;
    }

    .post-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .post-desc {
        margin-bottom: 10px;
    }

    .post-link {
        font-size: 18px;
    }
}